@media (max-width: 600px) {
    .col-sm-6 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.chartjs-render-monitor {
    max-height: 300px;
}