<template>
  <v-container>
    <v-form v-model="valid">
      <v-row>
        <v-col md="12">
          <v-card class="pt-4 px-5">
            <v-card-text>
              <h4>Filters</h4>
            </v-card-text>
            <v-card-actions>
              <v-row>
                <v-col lg="3" md="4" sm="6">
                  <div class="mb-2">Business type</div>
                  <v-select :items="items" label="Select business" solo @change="selectBusiness($event)" :rules="requiredRule" required></v-select>
                </v-col>
                <v-col lg="3" md="4" sm="6">
                  <div class="mb-2">Store location</div>
                  <v-select :items="items" label="Select store" solo @change="selectStore($event)" :rules="requiredRule" required></v-select>
                </v-col>
                <v-col lg="3" md="4" sm="6">
                  <div class="mb-2">Store location</div>
                  <v-dialog ref="dialog" v-model="modal" :return-value.sync="dates" persistent width="290px">
                    <template v-slot:activator="{ on }">
                      <v-text-field v-model="dateRangeText" prepend-icon="event" readonly v-on="on"></v-text-field>
                    </template>
                    <v-date-picker v-model="dates" range>
                      <v-spacer></v-spacer>
                      <v-btn text color="primary" @click="modal = false">Cancel</v-btn>
                      <v-btn text color="primary" @click="$refs.dialog.save(dates)">OK</v-btn>
                    </v-date-picker>
                  </v-dialog>
                </v-col>
                <v-col lg="3" md="4" sm="6">
                  <v-btn x-large class="mt-4 col-sm-12" color="success" dark>Apply Filter</v-btn>
                </v-col>
              </v-row>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
    </v-form>
      <v-row>
        <v-col md="12">
          <v-card class="pt-4 px-5">
            <v-card-text>
              <h4>Summary</h4>
            </v-card-text>
            <v-card-actions>
              <v-row>
                <v-col lg="2" md="4" sm="6">
                  <v-card class="mt-4 mx-auto" max-width="400">
                    <v-sheet class="v-sheet--offset mx-auto pa-4 text-center" color="cyan" dark elevation="12" max-width="calc(100% - 32px)">
                        <v-icon class="mr-2" large>
                          mdi-account-multiple
                        </v-icon>
                    </v-sheet>
                    <v-card-text class="pt-0">
                      <div class="title font-weight-light mb-2 text-center">14</div>
                      <v-divider class="my-2"></v-divider>
                      <div class="subheading font-weight-light grey--text text-center">Numbr of users</div>
                    </v-card-text>
                  </v-card>
                </v-col>
                <v-col lg="2" md="4" sm="6">
                  <v-card class="mt-4 mx-auto" max-width="400">
                    <v-sheet class="v-sheet--offset mx-auto pa-4 text-center" color="lime" dark elevation="12" max-width="calc(100% - 32px)">
                        <v-icon class="mr-2" large>
                          mdi-store
                        </v-icon>
                    </v-sheet>
                    <v-card-text class="pt-0">
                      <div class="title font-weight-light mb-2 text-center">2</div>
                      <v-divider class="my-2"></v-divider>
                      <div class="subheading font-weight-light grey--text text-center">Numbr of locations</div>
                    </v-card-text>
                  </v-card>
                </v-col>
                <v-col lg="2" md="4" sm="6">
                  <v-card class="mt-4 mx-auto" max-width="400">
                    <v-sheet class="v-sheet--offset mx-auto pa-4 text-center" color="red darken-1" dark elevation="12" max-width="calc(100% - 32px)">
                        <v-icon class="mr-2" large>
                          mdi-thumbs-up-down
                        </v-icon>
                    </v-sheet>
                    <v-card-text class="pt-0">
                      <div class="title font-weight-light mb-2 text-center">2</div>
                      <v-divider class="my-2"></v-divider>
                      <div class="subheading font-weight-light grey--text text-center">Gross profit</div>
                    </v-card-text>
                  </v-card>
                </v-col>
                <v-col lg="2" md="4" sm="6">
                  <v-card class="mt-4 mx-auto" max-width="400">
                    <v-sheet class="v-sheet--offset mx-auto pa-4 text-center" color="lime accent-4" dark elevation="12" max-width="calc(100% - 32px)">
                        <v-icon class="mr-2" large>
                          mdi-gift
                        </v-icon>
                    </v-sheet>
                    <v-card-text class="pt-0">
                      <div class="title font-weight-light mb-2 text-center">2</div>
                      <v-divider class="my-2"></v-divider>
                      <div class="subheading font-weight-light grey--text text-center">Total discounts</div>
                    </v-card-text>
                  </v-card>
                </v-col>
                <v-col lg="2" md="4" sm="6">
                  <v-card class="mt-4 mx-auto">
                    <v-sheet class="v-sheet--offset mx-auto pa-4 text-center" color="orange " dark elevation="12" max-width="calc(100% - 32px)">
                        <v-icon class="mr-2" large>
                          mdi-transit-transfer
                        </v-icon>
                    </v-sheet>
                    <v-card-text class="pt-0">
                      <div class="title font-weight-light mb-2 text-center">2</div>
                      <v-divider class="my-2"></v-divider>
                      <div class="subheading font-weight-light grey--text text-center">Total reselling profit</div>
                    </v-card-text>
                  </v-card>
                </v-col>
                <v-col lg="2" md="4" sm="6">
                  <v-card class="mt-4 mx-auto">
                    <v-sheet class="v-sheet--offset mx-auto pa-4 text-center" color="purple lighten-1" dark elevation="12" max-width="calc(100% - 32px)">
                        <v-icon class="mr-2" large>
                          mdi-trending-up
                        </v-icon>
                    </v-sheet>
                    <v-card-text class="pt-0">
                      <div class="title font-weight-light mb-2 text-center">2</div>
                      <v-divider class="my-2"></v-divider>
                      <div class="subheading font-weight-light grey--text text-center">Net profit</div>
                    </v-card-text>
                  </v-card>
                </v-col>
              </v-row>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
      <v-row>
        <v-col md="12">
          <v-card class="pt-4 px-5">
            <v-card-text>
              <h4>Sales analytics</h4>
            </v-card-text>
            <v-card-actions>
              <v-row>
                <v-col lg="6">
                  <v-card class="mx-auto text-center" color="green" dark>
                    <v-card-text>
                      <v-sheet color="rgba(0, 0, 0, .12)">
                        <!-- <v-sparkline :value="value" color="rgba(255, 255, 255, .7)" height="100" padding="24" stroke-linecap="round" smooth>
                          <template v-slot:label="item">
                            ${{ item.value }}
                          </template>
                        </v-sparkline> -->
                        <Chart :chartdata="salesChartData" :options="chartOptions"/>
                      </v-sheet>
                    </v-card-text>
                    <v-card-text>
                      <div class="display-1 font-weight-thin">{{dateRangeText}}</div>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions class="justify-center">
                      <v-btn block text>Get Report</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-col>
                <v-col lg="6">
                  <v-card class="mx-auto text-center" color="orange" dark>
                    <v-card-text>
                      <v-sheet color="rgba(0, 0, 0, .12)">
                        <!-- <v-sparkline :value="value" color="rgba(255, 255, 255, .7)" height="100" padding="24" stroke-linecap="round" smooth>
                          <template v-slot:label="item">
                            ${{ item.value }}
                          </template>
                        </v-sparkline> -->
                        <Chart :chartdata="daywiseChartData" :options="chartOptions"/>
                      </v-sheet>
                    </v-card-text>
                    <v-card-text>
                      <div class="display-1 font-weight-thin">{{dateRangeText}}</div>
                    </v-card-text>
                    <v-divider></v-divider>
                    <v-card-actions class="justify-center">
                      <v-btn block text>Get Report</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-col>
              </v-row>
            </v-card-actions>
          </v-card>
        </v-col>
      </v-row>
  </v-container>
</template>

<script>
import Chart from './../components/charts/Chart'
export default {
  name: 'home',
  data() {
    return {
      valid: false,
      requiredRule: [
        v => !!v || 'Name is required'
      ],
      data: null,
      items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      dates: ['2019-09-10', '2019-09-20'],
      modal: false,
      value: [
        423,
        446,
        675,
        510,
        590,
        610,
        760,
      ],
      selectedBusiness: null,
      selectedStore: null,
      salesChartData: {
        labels: ['January', 'February', 'March'],
        datasets: [
          {
            label: 'Data One',
            labelColor: '#ffffff',
            backgroundColor: '#FFC107',
            data: [40, 20, 65]
          },
          {
            label: 'Data One',
            labelColor: '#ffffff',
            backgroundColor: '#E53935',
            data: [50, 100, 20]
          }
        ]
      },
      daywiseChartData: {
        labels: ['January', 'February', 'March'],
        datasets: [
          {
            label: 'Data One',
            labelColor: '#ffffff',
            backgroundColor: '#FFC107',
            data: [40, 20, 65]
          },
          {
            label: 'Data One',
            labelColor: '#ffffff',
            backgroundColor: '#E53935',
            data: [50, 100, 20]
          }
        ]
      },
      chartOptions: {
        responsive: true,
        maintainAspectRatio: false,
       legend: {
         labels: {
            fontColor: '#ffffff'
          }
       },
        scales: {
          yAxes: [{
            ticks: {
              fontColor: 'white'
            }
          }],
          xAxes: [{
            ticks: {
              fontColor: 'white'
            }
          }]
       }
      }
    }
  },
  components: {
    Chart
  },
  computed: {
    dateRangeText () {
      return this.dates.join(' ~ ')
    }
  },
  methods: {
    selectBusiness(val) {
      this.selectedBusiness = val
    },
    selectStore(val) {
      this.selectedStore = val
    }
  },
  mounted() {
    fetch('api/test')
    .then(resp => resp.json())
    .then(data => {
      this.data = data
    })
  }
}
</script>

<style>
.v-sheet--offset {
  top: -24px;
  position: relative;
}
</style>