<template>
  <v-app id="inspire">
    <v-navigation-drawer v-model="drawerRight" app clipped right>
      <v-list dense>
        <v-list-item @click.stop="right = !right">
          <v-list-item-action>
            <v-icon>mdi-exit-to-app</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Open Temporary Drawer</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    
    <v-app-bar app clipped-right color="indigo" dark>
      <v-app-bar-nav-icon @click.stop="isMainMenu = !isMainMenu" />
      <v-toolbar-title class="text-capitalize">{{$route.name}}</v-toolbar-title>
      <v-spacer />
      <v-app-bar-nav-icon @click.stop="drawerRight = !drawerRight" />
    </v-app-bar>

    <v-navigation-drawer v-model="isMainMenu" app>
      <v-list dense>
        <v-list-item @click.stop="left = !left">
          <v-list-item-action>
            <v-icon>mdi-exit-to-app</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Open Temporary Drawer</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-for="(menu, index) in menus" :key="index" router :to="menu.route">
          <v-list-item-action>
            <v-icon>{{'mdi-' + menu.icon}}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{menu.label}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <v-navigation-drawer v-model="left" fixed temporary/>
    <v-content>
      <v-container class="fill-height" fluid>
        <router-view></router-view>
      </v-container>
    </v-content>

    <v-navigation-drawer v-model="right" fixed right temporary/>

    <!-- <v-footer app color="blue-grey" class="white--text">
      <span>BizAssist</span>
      <v-spacer />
      <span>&copy; 2020</span>
    </v-footer> -->
  </v-app>
</template>

<script>
export default {
  name: 'App',
  props: {
    source: String,
  },
  data: () => ({
    isMainMenu: false,
    drawerRight: false,
    right: false,
    left: false,
    menus: [
      { icon: 'view-dashboard-outline', label: 'Dashboard', route: '/'},
      { icon: 'login-variant', label: 'Logout', route: '/login'}
    ]
  })
};
</script>
